<div>
  <h2>Best Cricket Players</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Player Name</th>
      <th>Age</th>
      <th>Team</th>
      <th>Jersey Number</th>
      <th>Rating</th>
      <th>isRetired</th>
      <th>Images</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let player of Players" [routerLink]="['/Players', player.playerName]">

      <td>{{ player.id }}</td>
      <td>{{ player.playerName | json}}</td>
      <td>{{ player.age | ageCategory}}</td>
      <td>{{ player.team | uppercase }}</td>
      <td>{{ player.jerseyNumber }}</td>
      <td>{{ player.rating /100 | percent:'1.0-0'}}</td>
      <td>{{ player.isRetired ? 'True' : 'False' }}</td>
     <!-- <td><img [ngSrc]="player.image" alt="Image" width="100" height="100" priority></td>-->

      <td><button (click)="editPlayer(player.id)">Edit</button>
      <button (click)="onDelete(player.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  <app-cricket-list-item [Players] = "selectedCricket"></app-cricket-list-item>
</div>

