<div class="container">
  <mat-card class="player-card">
    <mat-card-header>
      <mat-card-title>Best Cricket Players</mat-card-title>
      </mat-card-header>
    <mat-card-content>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Player Name</th>
      <th>Age</th>
      <th>Team</th>
      <th>Jersey Number</th>
      <th>Rating</th>
      <th>isRetired</th>
      <th>Images</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let player of Players" [appBackgroundColor]="'lightblue'">

      <td>{{ player.id }}</td>
      <td>{{ player.playerName | json}}</td>
      <td>{{ player.age | ageCategory}}</td>
      <td>{{ player.team | uppercase }}</td>
      <td>{{ player.jerseyNumber}}</td>
      <td>{{ player.rating /100 | percent:'1.0-0'}}</td>
      <td>{{ player.isRetired ? 'True' : 'False' }}</td>
     <!-- <td><img [ngSrc]="player.image" alt="Image" width="100" height="100" priority></td>-->

      <td><button  mat-raised-button color="accent" type="button" (click)="editPlayer()" [appBackgroundColor]="'lightgreen'">Edit</button>
      <button type="button" (click)="onDelete(player.id)" [appBackgroundColor]="'red'">Delete</button></td>
    </tr>
    </tbody>
  </table>
    </mat-card-content>
  </mat-card>
</div>

