<!-- To use reactive Forms -->
<form [formGroup]="cricketForm" (ngSubmit)="onSubmit()">

  <!-- Id field -->
  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" formControlName="id" [appHighlightOnFocus]="''">
  </div>

  <!-- Name field -->
  <div class="form-group">
    <label for="name">Player Name</label>
    <input type="text" id="name" formControlName="playerName" [appHighlightOnFocus]="''">
  </div>

  <!-- Age field -->
  <div class="form-group">
    <label for="age"> Age</label>
    <input type="number" id="age" formControlName="age" [appHighlightOnFocus]="''">
  </div>

  <!-- Team field -->
  <div class="form-group">
    <label for="team">Team Name</label>
    <input type="text" id="team" formControlName="team" [appHighlightOnFocus]="''">
  </div>

  <!-- Jersey no. field -->
  <div class="form-group">
    <label for="jersey">Jersey Number</label>
    <input type="number" id="jersey" formControlName="jerseyNumber" [appHighlightOnFocus]="''">
  </div>

  <!-- Rating Field -->
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="number" id="rating" formControlName="rating" [appHighlightOnFocus]="''">
  </div>

  <!--Is Retired field -->
  <div class="form-group">
    <label for="isRetired">Is Retired</label>
    <input type="checkbox" id="isRetired" formControlName="isRetired" [appHighlightOnFocus]="''">
  </div>

  <!-- Submit Button -->
  <button type="submit">Submit</button>

  <!-- Delete Button -->
  <button type="button" (click)="onDelete()">Delete</button>
</form>
