<!-- To use reactive Forms -->
<form [formGroup]="cricketForm" (ngSubmit)="onSubmit()">
  <!-- Id field -->
  <div class="form-group">
    <mat-label>ID</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
    <input matInput type="number" id="id" formControlName="id" [appHighlightOnFocus]="''">
    </mat-form-field>
  </div>

  <!-- Name field -->
  <div class="form-group">
    <mat-label>Player Name</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
    <input matInput type="text" id="name" formControlName="playerName" [appHighlightOnFocus]="''">
    </mat-form-field>
  </div>

  <!-- Age field -->
  <div class="form-group">
    <mat-label> Age</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
    <input matInput type="number" id="age" formControlName="age" [appHighlightOnFocus]="''">
    </mat-form-field>
  </div>

  <!-- Team field -->
  <div class="form-group">
    <mat-label>Team Name</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
    <input matInput type="text" id="team" formControlName="team" [appHighlightOnFocus]="''">
    </mat-form-field>
  </div>

  <!-- Jersey no. field -->
  <div class="form-group">
    <mat-label>Jersey Number</mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
    <input matInput type="number" id="jersey" formControlName="jerseyNumber" [appHighlightOnFocus]="''">
    </mat-form-field>
  </div>

  <!-- Rating Field -->
  <div class="form-group">
    <mat-label> Rating </mat-label>
    <mat-form-field appearance="outline" class="form-field" disabled>
    <input matInput type="number" id="rating" formControlName="rating" [appHighlightOnFocus]="''">
    </mat-form-field>

  </div>
  <div class="form-group">
  <mat-checkbox formControlName="isRating" class="checkbox" [appHighlightOnFocus]="''">Is Rating</mat-checkbox>
  </div>
  <!-- Submit Button -->
  <button mat-raised-button type="submit">Submit</button>

  <!-- Delete Button -->
  <button mat-raised-button type="button" (click)="onDelete()">Delete</button>
</form>
