<div *ngIf="Players" class="cricket-items">
  <mat-card class="cricket-card">
    <mat-card-header>
      <mat-card-title>Player Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
  <h3><strong>ID:</strong>{{Players.id}}</h3>
  <h3><strong>Name:</strong>{{Players.playerName}}</h3>
  <p>Age: {{Players.age}}</p>
  <p>Team: {{Players.team}}</p>
  <p>Jersey Number: {{Players.jerseyNumber}}</p>
  <p>Rating: {{Players.rating}}</p>
  <p>Retired: {{Players.isRetired}}</p>
    </mat-card-content>
  </mat-card>
</div>
