.page-not-found {
  text-align: center;
  margin-top: 50px;
}

.page-not-found h1 {
  font-size: 2.5em;
  color: #ff0000;
}

.page-not-found p {
  font-size: 1.2em;
}

.page-not-found a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.page-not-found a:hover {
  text-decoration: underline;
}
